.content {
  width: 100%; /* Ensure the outer container takes full width */
}

.login-wrapper {
  flex-direction: row;
  height: 100%; /* Make it take full height of its container */
}

.login-bg-image {
  width: 50%;
  background: url("/assets/test_background.png") no-repeat center center;
  background-size: cover;
}

.test {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 50%; /* Adjust the width as needed */
  height: 100%; /* Take full height of the parent */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background: white;
  padding: 2rem;
  max-width: 25rem;
  max-height: 40rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-header {
  text-align: center;
  margin-bottom: 20px;
}
.login-header h1 {
  margin: 0;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input {
  padding: 10px;
  margin-bottom: 5px;
  // margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.register-link {
  color: #06f;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.error-msg {
  color: red;
  background: #ffc0cb;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
