<div class="content d-flex justify-content-center align-items-center" [class.active]="contentActive" style="height: 75vh;">
  <!-- ... rest of your code ... -->
    <div class="login-container">
        <div class="login-header">
          <h1>Login</h1>
          <div class="d-inline">
            <p class="d-inline">New device? </p>
            <a href="#" class="register-link d-inline" style="text-decoration: underline;">Register now</a>
        </div>
        </div>
        <div class="login-form">
          <input type="email" id="email" placeholder="Username">
          <input type="password" id="password" placeholder="Password">
          <button type="button" class="btn btn-primary">Login</button>
        </div>
        <div class="error-msg">
          Your username/password is incorrect. Please reset your password or contact our help center
        </div>
      </div>
</div>
