<div
  class="content d-flex justify-content-center align-items-center d-custom-bg"
  [class.active]="contentActive"
>
  <div
    class="d-flex p-4 m-2 rounded-3 shadow flex-column justify-content-center gap-3 bg-white"
    [ngClass]="!isMobile ? 'desktop-custom-width' : 'custom-max-width-vw'"
  >
    <div
      class="d-flex flex-column justify-content-center gap-1 align-items-center"
    >
      <h2>About Saf-T Child</h2>
      <div class="d-inline d-custom">
          <p> 
            Saf-T Child is a child safety device that is designed to save a child's life in an emergency situation. Founded by Lorraine Forest after learning of a terrible accident, 
            Saf-T Child is designed to ensure no child is left in a car, unattended, again. The device component sits discreetly underneath any carseat, and detects when a car is in motion and in use, or turned off 
            and unattended. If a child is detected in a carseat inside of a car that is turned off for 60 seconds, primary contacts are notified via an SMS text message. After, if the child is not moved to saafety,
            a larger range of secondary contacts are notified. If the child remains in the seat after a total 3 minutes unattended, local emergency services are contacted.
          </p>
      </div>
    </div>
  </div>
</div>
