<!-- Overlay Menu Component 
It will have to stay here to be able to have scss styling 
for transition and overlay effect
-->
<div class="menu-overlay" [class]="overlayClass">
  <div class="menu-container">
    <button class="close-btn" (click)="toggleOverlay()">&times;</button>
    <ul class="menu-list">
      <li><a class="menu-item" href="/" (click)="toggleOverlay()">Menu</a></li>
      <li>
        <a class="menu-item" href="/bootstrap-samples" (click)="toggleOverlay()"
          >Samples</a
        >
      </li>
      <li>
        <a class="menu-item" href="/login" (click)="toggleOverlay()">Login</a>
      </li>
      <li>
        <a class="menu-item" href="#" (click)="toggleOverlay()">Option 3</a>
      </li>
    </ul>
  </div>
</div>

<main *ngIf="!showOverlay">
  <app-mobile-header
    *ngIf="isMobile; else desktopHeader"
    (toggleOverlay)="toggleOverlay()"
  ></app-mobile-header>
  <ng-template #desktopHeader>
    <app-desktop-header></app-desktop-header>
  </ng-template>

  <router-outlet></router-outlet>

  <!-- For footer we will use mobile footer for both mobile and desktop -->
  <app-mobile-footer></app-mobile-footer>
</main>
