<!-- Overlay Menu Component -->
<div class="menu-overlay" [class]="overlayClass">
  <div class="menu-container">
    <button class="close-btn" (click)="toggleOverlay()">&times;</button>
    <ul class="menu-list">
      <li><a class="menu-item" href="/" (click)="toggleOverlay()">Menu</a></li>
      <li>
        <a class="menu-item" href="/bootstrap-samples" (click)="toggleOverlay()"
          >Samples</a
        >
      </li>
      <li>
        <a class="menu-item" href="/login" (click)="toggleOverlay()">Login</a>
      </li>
      <li>
        <a class="menu-item" href="#" (click)="toggleOverlay()">Option 3</a>
      </li>
      <!-- Add other menu items here -->
    </ul>
  </div>
</div>

<main *ngIf="!showOverlay">
  <app-mobile-header
    *ngIf="isMobile"
    (toggleOverlay)="toggleOverlay()"
  ></app-mobile-header>
  <router-outlet></router-outlet>
</main>
