<div
  class="content d-flex justify-content-center align-items-center"
  [class.active]="contentActive"
  style="height: 65vh"
>
  <div
    class="d-flex bg-white p-4 m-2 rounded-3 shadow flex-column justify-content-center gap-3 custom-max-width-vw"
    [ngClass]="!isMobile ? 'desktop-custom-width' : ''"
  >
    <div
      class="d-flex flex-column justify-content-center gap-1 align-items-center"
    >
      <h2>Login</h2>
      <div class="d-inline">
        <p class="d-inline">New to Saf-T Child? </p>
        <a
          href="/create-account"
          class="create-account-link"
          style="text-decoration: underline"
          >Create Account</a
        >
      </div>
    </div>
    <form [formGroup]="formGroup" class="d-flex flex-column gap-2">
      <input
        class="form-control"
        type="text"
        id="username"
        placeholder="Username"
        formControlName="username"
      />
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
      <button
        type="button"
        class="btn btn-primary"
        (click)="login()"
        *ngIf="!isLoading; else loadingTemplate"
      >
        Login
      </button>
      <ng-template #loadingTemplate>
        <button type="button" class="btn btn-primary" disabled>
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </ng-template>
      <div *ngIf="showInvalidLogin" class="alert alert-danger" role="alert">
        Your username/password is incorrect. Please reset your password or
        contact our help center
      </div>
    </form>
  </div>
</div>
