<h2 mat-dialog-title>Dialog Title</h2>
<mat-dialog-content>
  <form action="">
    <label>Name</label>
    <input type="text" name="" id="" />
    <label>Name</label>
    <input type="text" name="" id="" />
    <label>Name</label>
    <input type="text" name="" id="" />
  </form>
</mat-dialog-content>
<mat-dialog-actions class="gap-1" style="padding: 24px; padding-top: 6px">
  <button
    class="btn btn-primary btn-main-aqua"
    type="submit"
    (click)="onClose()"
  >
    Save
  </button>
  <button class="btn btn-secondary" type="button" (click)="onClose()">
    Close
  </button>
</mat-dialog-actions>
